body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  animation: slideToBottom 0.3s; }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  animation: animateErrorIcon 0.5s; }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  animation: animateXMark 0.5s; }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  animation: pulseWarning 0.75s infinite alternate; }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate; }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */

@keyframes ball-fall {
  0% {
    opacity: 0;
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    transform: translateY(0); }
  80% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    transform: translateY(145%); } }

/* Colors */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'oxygen';
  src: url("../fonts/oxygen.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../fonts/oxygen-italic.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'oxygen';
  src: url("../fonts/oxygen-bold.woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../fonts/oxygen-bolditalic.woff");
  font-weight: 700;
  font-style: italic; }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 100%;
  font-weight: normal; }

.logo__half {
  height: 120px;
  position: absolute;
  top: 140px;
  z-index: -1; }
  @media (min-width: 980px) {
    .logo__half {
      margin-bottom: 3em;
      position: relative;
      top: 0px; } }

.logo__halfright {
  height: 120px;
  position: absolute;
  top: 0px;
  z-index: -1; }
  @media (min-width: 980px) {
    .logo__halfright {
      margin-bottom: 2em;
      position: relative;
      top: 0px; } }

a, h1, h2, p, span, li {
  font-family: 'oxygen'; }

h1, h2, p {
  color: #1c7796; }

h2, span {
  font-weight: bold; }

p {
  line-height: 125%; }

.flex {
  display: -ms-flexbox;
  display: flex; }

.flex__spacebetween {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex__center {
  -ms-flex-pack: center;
  justify-content: center; }

.flex__aligncenter {
  -ms-flex-align: center;
  align-items: center; }

.flex__flexstart {
  -ms-flex-align: start;
  align-items: flex-start; }

.flex__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex__direction--column {
  -ms-flex-direction: column;
  flex-direction: column; }

.flex__direction--columnreverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.flex__notshrink {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.box {
  float: left;
  width: 100%; }
  .box.box--picture {
    height: 250px;
    position: absolute; }
  .box.box--content {
    margin-top: 250px; }
  @media (min-width: 980px) {
    .box {
      height: 100%;
      width: 50%; }
      .box.box--picture {
        height: 100%; }
      .box.box--right {
        position: fixed;
        right: 0px; }
      .box.box--content {
        margin-top: 0px; } }
  .box.box--padding {
    padding: 40px 50px; }
  .box.box--left {
    position: fixed; }
  .box.box--left-abs {
    position: absolute; }
    @media (min-width: 980px) {
      .box.box--left-abs {
        position: fixed; } }
  .box.box--abs {
    position: absolute; }

.height100, .container {
  height: 100%; }
  @media (max-height: 500px) {
    .height100, .container {
      height: auto;
      min-height: 100%; } }

.container {
  padding-top: 75px; }

.footer {
  background-color: rgba(44, 44, 44, 0.85);
  bottom: 0px;
  display: inline-block;
  width: 100%; }
  @media (min-width: 720px) {
    .footer {
      margin-left: 50%;
      width: 50%;
      position: fixed; } }

.body--contact .footer {
  margin-left: 0; }

.body--index .footer {
  margin-left: 0;
  width: 100%; }

.footer__container {
  padding: 1em 1.5em;
  width: 100%; }
  .footer__container .footer__divider {
    display: none; }
  .footer__container span {
    display: inline-block; }
  @media (min-width: 720px) {
    .footer__container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.footer__text {
  color: white;
  font-size: 0.8rem;
  line-height: 150%; }
  .footer__text span {
    font-weight: bold; }

.form__validation, .form__complete {
  display: none; }
  .form__validation p, .form__complete p {
    background-color: red;
    border-radius: 5px;
    color: white;
    margin-bottom: 1em;
    padding: 10px 20px;
    width: 100%; }

.form__complete p {
  background-color: green;
  padding-top: 14px; }

.form__inputsection {
  background-color: white;
  height: 50px;
  margin-bottom: 25px;
  width: 100%; }
  @media (min-width: 980px) {
    .form__inputsection {
      width: calc(50% - 10px); } }

@media (min-width: 980px) {
  .form__inputsection--full {
    width: 100%; } }

.form__input {
  -ms-flex: 0 1 auto;
  border: none;
  font-weight: 300;
  width: 100%; }

.form__label {
  color: #999;
  line-height: 55px;
  padding: 0px 10px;
  position: relative; }
  .form__label:after {
    content: '';
    position: absolute;
    background-color: #999;
    right: -15px;
    height: 20px;
    top: 15px;
    width: 1px; }

#header {
  background-color: #1c7796;
  display: none;
  position: fixed;
  width: 100%;
  height: 75px; }
  @media (min-width: 980px) {
    #header {
      display: block; } }

.nav {
  display: none;
  width: 100%; }
  .nav ul {
    height: 75px; }
  @media (min-width: 980px) {
    .nav {
      display: block;
      width: auto; } }

.header__row {
  height: 100%; }

.nav__hamburger {
  color: white;
  cursor: pointer;
  display: block; }
  .nav__hamburger:hover {
    cursor: pointer; }
  .nav__hamburger #svg__close {
    display: none; }
  .nav__hamburger svg {
    fill: white; }
    .nav__hamburger svg path {
      fill: white; }
  @media (min-width: 980px) {
    .nav__hamburger {
      display: none; } }

.nav__item {
  float: left;
  height: 100%;
  width: 100%;
  text-align: center; }
  @media (min-width: 980px) {
    .nav__item {
      text-align: left;
      width: auto; } }
  .nav__item:hover {
    cursor: pointer;
    cursor: hand; }

.nav__link {
  background-color: #1c7796;
  color: white;
  font-size: 0.8rem;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 30px; }
  .nav__link:hover {
    background-color: #1e91b6; }

.nav__link--active {
  background-color: #1e91b6; }

#header--mobile {
  background-color: #1c7796;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 999;
  padding: 1em 2em;
  padding-top: 1em; }
  @media (min-width: 980px) {
    #header--mobile {
      display: none; } }
  #header--mobile #svg__logo {
    height: 25px; }
  #header--mobile svg {
    fill: #fdfdfd; }
    #header--mobile svg path {
      fill: #fdfdfd; }
    #header--mobile svg:hover {
      cursor: pointer;
      fill: grey; }
      #header--mobile svg:hover path {
        fill: grey; }

.mobile-overlay {
  display: none;
  z-index: 999; }

.nav__wrapper {
  margin-top: 75px; }
  .nav__wrapper .nav__link {
    background-color: inherit;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    padding: 20px; }
  .nav__wrapper .nav__link--mobile {
    display: block; }
    .nav__wrapper .nav__link--mobile:hover {
      text-decoration: underline; }

#svg__hamburger {
  cursor: pointer; }
  #svg__hamburger:hover {
    cursor: pointer; }

.header--fullheight {
  background-color: rgba(44, 44, 44, 0.85) !important;
  height: 100% !important; }
  .header--fullheight .header__row {
    padding-right: 4em;
    position: absolute;
    width: 100%; }
  .header--fullheight #svg__logo {
    display: none; }
  .header--fullheight #svg__hamburger {
    display: none; }
  .header--fullheight .mobile-overlay {
    display: block; }
  .header--fullheight .nav__social {
    display: -ms-flexbox;
    display: flex; }

.skill__box {
  border-bottom: 2px solid #1c7796;
  margin-right: 30px; }

.skill__box__title, .skill__box__description, .skill__box__number {
  padding-bottom: 1em; }

.contact__information {
  margin-top: 30px; }
  @media (min-width: 980px) {
    .contact__information {
      border-bottom: 1px solid #1c7796;
      padding-bottom: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 47%; } }
  .contact__information h1 {
    font-size: 2rem;
    margin-bottom: 15px; }
  .contact__information h2 {
    font-weight: normal;
    margin-bottom: 5px; }

#map {
  background-color: #c7c7c7;
  width: 100%;
  height: 200px; }
  @media (min-width: 720px) {
    #map {
      height: 250px; } }
  @media (min-width: 980px) {
    #map {
      height: auto;
      width: 47%; } }

.contact__container {
  display: block; }
  @media (min-width: 980px) {
    .contact__container {
      display: -ms-flexbox;
      display: flex; } }

.btn {
  background-color: #1c7796;
  color: white;
  padding: 10px 20px;
  margin-top: 40px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out; }
  .btn:hover {
    background-color: white;
    border: 1px solid #1c7796;
    color: #1c7796; }

.diensten__title {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1em; }

.diensten__ul {
  margin-bottom: 3em; }
  .diensten__ul li {
    color: #1c7796;
    margin-bottom: 10px;
    margin-left: 30px;
    list-style-type: circle; }

.diensten__intro {
  margin-bottom: 3em; }

.diensten__subtitle {
  margin-bottom: 3em; }

.p__intro {
  margin-bottom: 3rem; }

.logo__intro {
  height: 120px;
  margin-top: 3em; }

.intro__container {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px 40px; }
  .intro__container h1 {
    margin-bottom: 15px; }
  .intro__container h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 5px; }

/*# sourceMappingURL=app.css.map */